apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager
resources:
  - ../../../../base/core/cert-manager/config
patchesStrategicMerge:
  - patch-infisical-secret.yaml
configMapGenerator:
  - name: infisical-config
    literals:
      - INFISICAL_PROJECT_ID=9222b9ff-f97a-4732-b706-89d52a4f71fe
      - INFISICAL_IDENTITY_ID=0e3affd0-0d73-4b99-8b1c-04ef2ef76188
replacements:
  - source:
      kind: ConfigMap
      name: infisical-config
      fieldPath: data.INFISICAL_PROJECT_ID
    targets:
      - select:
          kind: InfisicalSecret
        fieldPaths:
          - spec.authentication.kubernetesAuth.secretsScope.projectId
  - source:
      kind: ConfigMap
      name: infisical-config
      fieldPath: data.INFISICAL_IDENTITY_ID
    targets:
      - select:
          kind: InfisicalSecret
        fieldPaths:
          - spec.authentication.kubernetesAuth.identityId
