apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: traefik
resources:
  - ../../../../base/core/traefik/config
patchesStrategicMerge:
  - patch-infisical-secret.yaml
configMapGenerator:
  - name: domain-config
    literals:
      - TRAEFIK_DASHBOARD_MATCH=Host(`traefik.zech.co`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      - CERT_WILDCARD_CN=*.zech.co
      - CERT_WILDCARD_DNS0=*.zech.co
      - CERT_WILDCARD_DNS1=zech.co
  - name: infisical-config
    literals:
      - INFISICAL_PROJECT_ID=9222b9ff-f97a-4732-b706-89d52a4f71fe
      - INFISICAL_IDENTITY_ID=0e3affd0-0d73-4b99-8b1c-04ef2ef76188
replacements:
  - source:
      kind: ConfigMap
      name: domain-config
      fieldPath: data.CERT_WILDCARD_CN
    targets:
      - select:
          kind: Certificate
          name: wildcard-certificate
        fieldPaths:
          - spec.commonName
  - source:
      kind: ConfigMap
      name: domain-config
      fieldPath: data.CERT_WILDCARD_DNS0
    targets:
      - select:
          kind: Certificate
          name: wildcard-certificate
        fieldPaths:
          - spec.dnsNames.0
  - source:
      kind: ConfigMap
      name: domain-config
      fieldPath: data.CERT_WILDCARD_DNS1
    targets:
      - select:
          kind: Certificate
          name: wildcard-certificate
        fieldPaths:
          - spec.dnsNames.1
  - source:
      kind: ConfigMap
      name: domain-config
      fieldPath: data.TRAEFIK_DASHBOARD_MATCH
    targets:
      - select:
          kind: IngressRoute
          name: traefik-dashboard
        fieldPaths:
          - spec.routes.0.match
  - source:
      kind: ConfigMap
      name: infisical-config
      fieldPath: data.INFISICAL_PROJECT_ID
    targets:
      - select:
          kind: InfisicalSecret
        fieldPaths:
          - spec.authentication.kubernetesAuth.secretsScope.projectId
  - source:
      kind: ConfigMap
      name: infisical-config
      fieldPath: data.INFISICAL_IDENTITY_ID
    targets:
      - select:
          kind: InfisicalSecret
        fieldPaths:
          - spec.authentication.kubernetesAuth.identityId
