apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../base/core/traefik/controller
patches:
  - target:
      kind: HelmRelease
      name: traefik
      namespace: traefik
    patch: |-
      apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: traefik
        namespace: traefik
      spec:
        values:
          service:
            annotations:
              metallb.universe.tf/loadBalancerIPs: "10.0.30.100"
