apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health {
            lameduck 5s
        }
        ready
        log . {
            class error
        }
        prometheus :9153

        kubernetes cluster.local in-addr.arpa ip6.arpa {
            pods insecure
            fallthrough in-addr.arpa ip6.arpa
            ttl 30
        }
        forward . /etc/resolv.conf {
           max_concurrent 1000
           policy sequential
           health_check 5s
           expire 30s
        }
        cache 300 {
           success 10000 300 5
           denial 5000 60 5
           prefetch 20 1m 20%
           serve_stale 1m
        }
        loop
        reload
        loadbalance
    }
