apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base/media/sonarr
patches:
  - target:
      kind: IngressRoute
      name: sonarr-ingress
      namespace: media
    patch: |-
      apiVersion: traefik.io/v1alpha1
      kind: IngressRoute
      metadata:
        name: sonarr-ingress
        namespace: media
      spec:
        routes:
          - match: Host(`sonarr.zech.co`) && PathPrefix(`/outpost.goauthentik.io/`)
            kind: Rule
            services:
              - name: authentik-server
                namespace: auth
                port: http
          - match: Host(`sonarr.zech.co`)
            kind: Rule
            services:
              - name: sonarr
                port: 8989
            middlewares:
              - name: authentik
                namespace: traefik
