apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - ./auth/authentik
configMapGenerator:
  - name: domain-config
    literals:
      - AUTHENTIK_INGRESS_MATCH=Host(`sso.zech.dev`)
      - AUTHENTIK_HOST=https://sso.zech.dev
  - name: infisical-config
    literals:
      - INFISICAL_PROJECT_ID=9222b9ff-f97a-4732-b706-89d52a4f71fe
      - INFISICAL_IDENTITY_ID=1fab823a-c62f-46de-9819-212182e964af
replacements:
  - source:
      kind: ConfigMap
      name: domain-config
      fieldPath: data.AUTHENTIK_INGRESS_MATCH
    targets:
      - select:
          kind: IngressRoute
          name: authentik-ingress
        fieldPaths:
          - spec.routes.0.match
  - source:
      kind: ConfigMap
      name: domain-config
      fieldPath: data.AUTHENTIK_HOST
    targets:
      - select:
          kind: HelmRelease
          name: authentik
        fieldPaths:
          - spec.values.authentik.env.0.value
  - source:
      kind: ConfigMap
      name: infisical-config
      fieldPath: data.INFISICAL_PROJECT_ID
    targets:
      - select:
          kind: InfisicalSecret
        fieldPaths:
          - spec.authentication.kubernetesAuth.secretsScope.projectId
  - source:
      kind: ConfigMap
      name: infisical-config
      fieldPath: data.INFISICAL_IDENTITY_ID
    targets:
      - select:
          kind: InfisicalSecret
        fieldPaths:
          - spec.authentication.kubernetesAuth.identityId
