apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: n8n-ingress
  namespace: automation
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`n8n.${DOMAIN}`)
      kind: Rule
      services:
        - name: n8n
          port: 5678
